* {
    text-align: center;
    color: white;
    margin: 2px;
}

body {
    height: 98vh;
    display: flex;
    flex-direction: column;
    
}
main {
    flex-direction: column;
    display: flex;
    flex: 1;
}
#header {
 background-color: #574025;
padding-top: 3rem;
padding-bottom: 3rem;
}

#article {
background-color: #6791A3;
padding-top: 4rem;
padding-bottom: 4rem;
flex: 3;
}
#navbar {
background-color: #2E4A57;
padding-top: 4rem;
padding-bottom: 4rem;
flex: 1 5rem;
}
#aside {
background-color: #AFDCF0;
padding-top: 4rem;
padding-bottom: 4rem;
flex: 1 5rem;
}

#footer {
    background-color:#A38767;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 400px) {
    body {
        flex-direction: column;
    }
    main {
        flex-direction: row;
        flex: 1;
        display: flex;
    }
    #navbar {
        background-color: #0CA2B3;
    }
    #article {
        background-color:#3BEBFF ;
    }
    #aside {
        background-color:#21EAFF ;
    }
    #header {
        background-color:#B34C00 ;
    }
    #footer {
        background-color:#FF7F21 ;
    }
}

@media (min-width: 800px) {
    body {
        flex-direction: column;
    }
    main {
        flex-direction: row;
    }
    #navbar {
        background-color:#56B39D  ;
    }
    #article {
        background-color:#ADFFEC ;
    }
    #aside {
        background-color:#93FFE5 ;
    }
    #header {
        background-color: #B35F44;
    }
    #footer {
        background-color:#FFAF94 ;
    }
}

